.header {
  /* grid-area: h; */
  background-color: rgb(255, 255, 255);
  height: 68px;
  }

.header img {
  background-color: rgb(255, 254, 254);
  width: 150px;
  padding: 10px;
  padding-left: 20px;
}